:root {
    --primary-color: #379095;
    --secondary-color: #333D5B;
    --third-color: #E7EDEF;
    --font1: 'Mulish', sans-serif;
    --font2: 'Amiko', sans-serif;
    --font3: 'Heebo', sans-serif;
}

* {
    box-sizing: border-box;
}

html,
body,
main,
p {
    margin: 0;
    padding: 0;
}

h1,
h2 {
    font-family: var(--font1);
}

h3,
h4,
h5 {
    font-family: var(--font2);
}

p {
    font-family: var(--font3);
}

/*DEBUT SECTION TEAM*/
section.team {
    display: flex;
    flex-direction: column;
}

.member-picture {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    margin: 1rem;
}

section>h2 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.member {
    display: flex;
    justify-content: flex-start;
    font-size: smaller;
}

h3,
h4 {
    margin: 0;
}

/* FIN SECTION TEAM */